<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        function toggleMenu() {
            const menu = document.getElementById('sideMenu');
            menu.classList.toggle('open'); 
        }
    </script>
</head>
<body>
    <header>
        <nav class="main-menu">
            <ul>
                <li><button class="open-btn" onclick="toggleMenu()">☰</button></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
        </nav>
    </header>
    <div id="sideMenu" class="side-menu">
        <ul>
            <li><a href="{% url 'task_list' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; cursor: pointer;">
                        Logout
                    </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div> 
</body>
</html>
