{% extends "board/base.html" %}
{% block content %}
<h1>My Groups</h1>
<div class="group-list">
    {% for group in groups %}
        <div class="group-item">
            <h3>{{ group.name }}</h3>
            <a href="{% url 'group_detail' group.pk %}" class="btn btn-secondary" style="margin: 5px;">View Group</a>
            {% if group.created_by == user %}
                <a href="{% url 'edit_group' group.pk %}" class="btn btn-edit" style="margin: 5px;">Edit Group</a>
            {% endif %}
        </div>
    {% endfor %}
    <a href="{% url 'create_group' %}" class="btn btn-primary" style="margin: 8px;">Create group</a>
</div>
{% endblock %}