{% extends "board/base.html" %}
{% block content %}
<h1>{{ group.name }}</h1>
<p>{{ group.description }}</p>
<h3>Members:</h3>
<ul>
    {% for member in group.members.all %}
        <li>
            <a href="{% url 'user_profile' member.username %}">{{ member.username }}</a>
        </li>
    {% endfor %}
</ul>
{% if group.created_by == user %}
    <h4>Add Member</h4>
    <form method="post" style="margin: 5px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" >Add Member</button>
    </form>
    <a href="{% url 'edit_group' group.pk %}" class="btn btn-edit">Edit Group</a>
{% endif %}
<a href="{% url 'groups_list' %}" class="btn btn-secondary">Back</a>
{% endblock %}