{% extends "board/base.html" %}
{% block content %}
<h1>Task List</h1>
<div class="sort-options">
    <a href="?sort=title&order=asc">
        <span style="color:#023770">Title ↑</span>
    </a>
    |
    <a href="?sort=title&order=desc">
        <span style="color:#023770">Title ↓</span>
    </a>
    <a href="?sort=due_date&order=asc">
        <span style="color:#023770">Due Date ↑</span>
    </a>
    |
    <a href="?sort=due_date&order=desc">
        <span style="color:#023770">Due Date ↓</span>
    </a>
    <a href="?sort=is_completed"><span style="color:#023770">Sort by Status</span></a> 
</div>
<ul class="task-list">
    {% for task in tasks %}
    <li class="task-item">
        <span style="display: inline-block; width: 10px; height: 10px; 
            background-color: {{ task.list.color }}; 
            border-radius: 50%; margin-right: 5px;">
        </span>
        <a href="{% url 'task_detail' task.id %}" class="{% if task.is_completed %}completed{% endif %}">
            <span style="{% if task.is_completed %}text-decoration: line-through; color: #888{% endif %}">{{ task.title }}</span>
        </a>
        {% if task.is_completed %}
        <span class="completed">(Completed)</span>
        {% endif %}
        <span class="due-date">Due: {{ task.due_date|date:"Y-m-d" }}</span>
        <form action="{% url 'task_toggle' task.id %}" method="post" style="margin: 0;">
            {% csrf_token %}
            <input type="checkbox" name="is_completed" {% if task.is_completed %}checked{% endif %} onchange="this.form.submit()" style=" width: 15px;height: 15px;">
        </form>
    </li>
    {% empty %}
    <li>No tasks available.</li>
    {% endfor %}
</ul>
<a href="{% url 'task_create' %}" class="btn btn-primary">Create New Task</a>
<a href="{% url 'task_list_create' %}" class="btn btn-primary">Create New List</a>
{% endblock %}
